@model Booking;
@{
   
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "GetBookingDetails";
}

<main class="d-flex w-100 vh-100 flex-column overflow-auto">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Booking Form</h2>
                        <form>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label class="form-label">Site Name</label>
                                    <input class="form-control form-control-lg" readonly type="text" value="@Model.Site.SiteName" name="siteName" required />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Booking Date</label>
                                    <input class="form-control form-control-lg" readonly type="text" value="@Model.BookingDate"  name="bookingDate" required />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Execution Time</label>
                                    <input class="form-control form-control-lg" readonly type="text" value="@Model.BookingEndDate" name="executionTime" required />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Number of Tickets</label>
                                    <input class="form-control form-control-lg" readonly type="number" value="@Model.BookingMembers.Count" name="ticketCount" min="1" required />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Total Price</label>
                                    <input class="form-control form-control-lg" readonly type="number" value="@Model.Price" name="totalPrice" min="0" step="0.01" required />
                                </div>
                            </div>

                           

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- جدول الحجوزات -->
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Booking Submissions</h5>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">National ID / Passport Number</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Reference Name</th>
                                    <th scope="col">Reference Phone Number</th>
                                    <th scope="col">Relationship</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BookingMembers)
                                {
                                    <tr>
                                        <th scope="row">@item.Name</th>
                                        <td>@item.Gender</td>
                                        <td>@item.Age</td>
                                        @if (item.NationalId == "")
                                        {
                                            <td>@item.PassportNumber</td>
                                        }
                                        else
                                        {
                                            <td>@item.NationalId</td>
                                        }

                                        <td>@item.PhoneNumber</td>
                                        <td>@item.ReferenceName</td>
                                        <td>@item.ReferencePhoneNumber</td>
                                        <td>@item.Relationship</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <section style="background-color: #eee;">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                         height="60" />
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">
                                            @Model.User.Username
                                        </h6>
                                        <p class="text-muted small mb-0">
                                            @Model.User.Email
                                        </p>
                                    </div>
                                </div>

                                <p class="mt-3 mb-4 pb-2">
                                    @Model.SpecialRequest
                                </p>

                               
                            </div>
                            
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</main>
