@using Jordana.DTOs
@model List<UserViewModel>;
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "ManageUsers";
}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Users</strong> Management</h1>

		<div class="row">
			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0">ourusers</h5>
					</div>
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Fullname</th>
								<th class="d-none d-xl-table-cell">JoinDate</th>
								<th class="d-none d-xl-table-cell">Email</th>
								<th>phone Number</th>
								<th class="d-none d-md-table-cell">Numper of booking </th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model){
							<tr>
								<td>@item.UserName</td>
									<td class="d-none d-xl-table-cell">@item.JoinDate</td>
								<td class="d-none d-xl-table-cell">@item.Email</td>
									<td class="badge bg-success">@item.Phone</td>
									<td class="d-none d-md-table-cell"> @item.Booking</td>
							</tr>
							
							}
							
						
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>