@using Jordana.DTOs
@model List<Review>;

@{
    ViewData["Title"] = "ManageRating";
    Layout = "_LayoutAdmin";
}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Evaluation</strong> Page </h1>

		<div class="row">
			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0"></h5>
					</div>
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>User Name</th>
								<th class="d-none d-xl-table-cell">Time of Submission</th>
								<th class="d-none d-xl-table-cell">comment</th>
								<th>Rate</th>
								<th>
							Is Accepted
								</th>
								<th>Action</th>


							</tr>

						</thead>
						<tbody>
							@foreach(var item in Model){
							<tr>
								
								<td>@item.User.Username</td>
								<td class="d-none d-xl-table-cell">@item.CreationDate</td>
								<td class="d-none d-xl-table-cell">@item.Comment</td>
								<td>@item.Rating stars</td>
								<td>@item.IsAccepted</td>
								




								<td>
										<a class="btn btn-outline-success" style="float:left; margin-left:12px;" asp-action="IsAccepted" asp-route-ReviewId="@item.ReviewId" asp-route-value="true">Approve</a>
										<a class="btn btn-outline-danger" style="margin-left:12px;" asp-action="IsAccepted" asp-route-ReviewId="@item.ReviewId"asp-route-value="false">Reject</a>
								</td>



							</tr>
							}





						</tbody>
					</table>
				</div>
			</div>





		</div>






	</div>
</main>