@using Jordana.DTOs
@model List<Booking_View_Modele>;
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "ManageBooking";
}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Manage</strong> Booking</h1>

		<div class="row">

			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0">Latest Booking</h5>
					</div>
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Tourist_Sites</th>
								<th class="d-none d-xl-table-cell">Start Date</th>
								<th class="d-none d-xl-table-cell">Location</th>
								<th>Invited Members</th>
								<th class="d-none d-md-table-cell">Total Price</th>
										<th>Is Accepted</th>
								
								<th>Action</th>

							
						

							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model){
							<tr>
								<td>@item.SiteName</td>
								<td class="d-none d-xl-table-cell">@item.StartDate</td>
								<td class="d-none d-xl-table-cell">@item.Location</td>
								<td><span class="badge bg-success">@item.InvitedMembers</span></td>
								<td class="d-none d-md-table-cell">@item.TotalPrice </td>
									<td class="d-none d-md-table-cell">@item.IsAccpted </td>

								<td>
										<a class="btn btn-outline-success" style="float:left; margin-left:12px;" asp-action="ManageBookingStatus" asp-route-Id="@item.BookingId" asp-route-value="true">Approve</a>
									<a class="btn btn-outline-info" style="margin-left:12px;" asp-action="GetBookingDetails">Get details</a>
										<a class="btn btn-outline-danger" style="margin-left:12px;" asp-action="ManageBookingStatus" asp-route-Id="@item.BookingId" asp-route-value="false">Reject</a>
								</td>
							</tr>
							}
							
							
							
							
						

							




						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>