@model List<TouristsSite>;
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "ManageDestinations";
}
<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Toursit</strong> Site</h1>

		<div class="row">
			<div class="col-18 col-lg-16 col-xxl-12 d-flex">
				<div class="card flex-fill">

					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Site name</th>
								<th class="d-none d-xl-table-cell">City</th>
								<th class="d-none d-xl-table-cell">Region</th>
								<th>Location Link</th>
								<th class="d-none d-md-table-cell">Catogry</th>
								<th>Entry Fees</th>
								<th>Openning Hours</th>
								<th>Action</th>



							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model){
								<tr>
									<td>@item.SiteName</td>
									<td class="d-none d-xl-table-cell">@item.City</td>
									<td class="d-none d-xl-table-cell">@item.Region</td>
									<td><a href="@item.SiteLocation"target="_blank" class="badge bg-success">Open maps</a></td>
									<td class="d-none d-md-table-cell">@item.Category</td>
									@if (item.EntryFee == "Free")
									{
										<td>Free</td>
									}
									else
									{
										<td> @item.EntryFee Jd</td>
									}
									
								<td>@item.OpeningHours</td>
								<td>

										<a class="btn btn-outline-success" style="float:left; margin-left:12px;" asp-action="Edit" asp-route-id="@item.SiteId">View Details & Edit</a>
									
										<a class="btn btn-outline-danger" style="margin-left:12px;" asp-action="DisableSitd" asp-route-SiteId="@item.SiteId" asp-route-s="1">Disable </a>
										<a class="btn btn-outline-info" style="margin-left:12px;" asp-action="DisableSitd" asp-route-SiteId="@item.SiteId" asp-route-s="1">Enable </a>
								</td>

							</tr>
							}


						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</main>